.App {
  text-align: center;
  background-color: #F1FFFB;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;

}

.App-logo {
  height: 10vmin;
}

.App-header {
  background-color: black;
  color: white;
}

.App-footer {
  background-color: white;
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

